@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Medium"), local("CircularStd-Medium"),
    url("CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dutch801 Rm BT";
  src: local("Dutch801 Rm BT Roman"), local("Dutch801BT-Roman"),
    url("Dutch801BT-Roman.woff2") format("woff2"),
    url("Dutch801BT-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
